# Core
gradio
requests

# LlamaIndex
llama-index
llama-index-core
llama-index-llms-huggingface-api
llama-index-embeddings-huggingface
llama-index-readers-file
llama-index-tools-arxiv
llama-index-postprocessor-sbert-rerank
llama-index-readers-web
llama-index-llms-openrouter
llama-index-callbacks-wandb

# ML Stack (ESSENTIELS)
transformers
torch
sentence-transformers

# Utilities
duckduckgo-search
Pillow
python-dotenv
wandb == 0.17.5