gradio
requests
llama-index
llama-index-core
llama-index-llms-huggingface
llama-index-embeddings-huggingface
llama-index-readers-file
llama-index-tools-wikipedia
llama-index-tools-arxiv
llama-index-postprocessor-sentence-transformers
llama-index-readers-web
typing-extensions>=4.5.0
duckduckgo-search
transformers
torch
sentence-transformers
Pillow
python-dotenv
asyncio
os-sys
re
base64
